@font-face {
    font-family: Inter;
    src: url('fonts/Inter.ttf') format('truetype');
}

@font-face {
    font-family: 'Lenxed Deca';
    src: url('fonts/LexendDeca.ttf') format('truetype');
}

:root {
    /* Primary Colors */

    --main-background: #090b1a;
    --card-background: #1b1938;
    --accent: #aa5cdb;

    /* Neutral Colors */
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);

    /* Inter Typography */
    --typography-inter: Inter, Helvetica, Verdana, sans-serif;

    /* Lenxed Deca Typography */
    --typography-lenxed-deca: 'Lenxed Deca', Arial, Helvetica, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html, body, .container {
    height: 100%;
}

body {
    font-family: var(--typography-inter);
    font-size: 15px;
    color: var(--main-paragraph);
    background: var(--main-background);
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
}

    .main {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .card {
            max-width: 375px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: var(--card-background);
        }

        .card-header {
            background: var(--accent);
        }


            .card-header img {
                width: 100%;
                height: 100%;
                opacity: 0.3;
            }
        
        .card-body {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 24px;
        }

            .card-body h1 {
                font-size: 28px;
                color: #fff;
            }
                .card-body h1 .key-word {
                    color: var(--accent);
                }
        
            .card-body p {
                margin: 16px 0;
                line-height: 25px;
            }

            .card-report {
                margin-top: 24px;
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
            }

                .card-report p {
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 16px;
                }
                    .card-report-value {
                        font-weight: 600;
                        font-size: 20px;
                        color: #fff;
                    }

                    .card-report-key {
                        font-size: 11px;
                        font-family: var(--typography-lenxed-deca);
                        color: var(--stat-headings);
                    }


    .footer {
        padding: 10px;
        font-size: 12.8px;
        text-align: center;
        color: var(--stat-headings);
    }

        .footer a {
            color: #fff;
            font-weight: 700;
        } 

        .footer a:hover {
            color: var(--accent);
            text-decoration: underline;
        }

@media only screen and (min-width: 400px) {
    .card {
        border-radius: 10px;
    }
}

@media only screen and (min-height: 768px) {
    .main {
        justify-content: center;
    }
        .card-header{
            border-radius: 10px 10px 0 0;
        }
            .card-header img {
                border-radius: 10px 10px 0 0;
            }
}

@media only screen and (min-width: 1024px) {
    .main {
        justify-content: center;
    }
        .card {
            flex-direction: row;
            max-width: calc(375px * 3)
        }

            .card-header {
                order: 1;
                width: 50%;
                height: 100%;
                border-radius: 0 10px 10px 0;
            }
                .card-header img {
                    border-radius: 0 10px 10px 0;
                }

            .card-body {
                width: 50%;
                align-items: left;
                padding: 72px 64px 48px 64px;
                text-align: left;
            }

                .card-body h1 {
                    font-size: 40px;
                }

                .card-body p {
                    margin-top: 24px;
                    max-width: 375px;
                }

                .card-report {
                    margin-top: 48px;
                    width: 100%;
                    flex-direction: row;
                }

                .card-report p {
                    margin-right: 17%;
                    line-height: 30px;
                }

                    .card-report-value {
                        font-size: 24px;
                    }

                    .card-report-key {
                        font-size: 13px;
                        font-weight: 300;
                    }
                    
}